/**********************************
GENERAL
***********************************/

* {
  box-sizing: border-box;
}

body {
  font-family: Lato,"Open Sans",sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 40px 0px;
}
.title {
  text-align: center;
  text-transform: uppercase;
}
section {
  padding: 5px 5px;
}
ul{
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-family:  "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.75em;
}

/**********************************
HEADING & NAVIGATION
***********************************/

header {
  background-color: rgb(224, 62, 37);
}

header {
  display: flex;
  flex-direction: column;
  color: #fff;
}
#logo {
  text-align: center;
  margin-top: 25px;
}

#logo h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.75em;
  margin: 0;
}
#logo h2 {
  font-size: 1.25em;
  margin: -5px 0 0 0;
  font-weight: normal;
}
nav {
  background-color: rgb(147, 34, 16);
  margin-top: 20px;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
}



nav a {
  font-weight: 900;
  text-decoration: none;
  padding: 15px 10px;
  color: #fff;
}

nav a.active, nav a:hover {
  color: rgb(74, 13, 3);
}


/**********************************
HOME PAGE
***********************************/

#home {
  background-color: rgb(34, 156, 208);
  background-image: url("https://c2.staticflickr.com/8/7504/16258492451_42a357bfb3_h.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/**********************************
ABOUT PAGE
***********************************/

#about {
  background-color: rgb(29, 199, 157);
}

/**********************************
PORTFOLIO PAGE
***********************************/

#portfolio {
  background-color: rgb(65, 199, 81);
  background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/C7MJR7LV7V.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4.25em 0;
}
.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px;
  background: rgba(245, 248, 249, 0.5);
  border-radius: 8px;
}

.proj-thumb {
  border: 2px solid white;
  margin: 10px 15px;
  flex-grow: 1;
  flex-basis: 250px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
}
.proj-thumb h3 {
  margin: 5px 5px;
}
.proj-thumb p {
  margin: 5px 5px;
}

#portfolio h1 {
  color: #fff;
}

/*thumbnail hover effect*/
.proj-thumb {
  perspective: 250px;
}

.proj-thumb a img {
  transition: 100ms;
  transform: translateZ(0px);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.proj-thumb a img:hover {
  transform: translateZ(25px);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}


/**********************************
CONTACT PAGE
***********************************/

#contact {
  background-color: rgb(213, 233, 45);
  background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/Y01VDYAX63.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  max-width: 480px;
  margin: 10px auto;
  padding: 20px 20px;
  background: rgba(245, 248, 249, 0.5);
  border-radius: 8px;
}

input,
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1em;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: #e8eeef;
  border-bottom: 0.25rem #e8eeef solid;
  color: #8a97a0;
  margin-bottom: 30px;
  -webkit-transition: border 0.2s ease-in 0s;
  -moz-transition: border 0.2s ease-in 0s;
  transition: border 0.2s ease-in 0s;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

input:focus, textarea:focus {
  border-bottom: 0.25rem rgb(204, 49, 55) solid;
  background-color: #fff;
}

.btn {
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  width: 100%;
  padding: 1em 1.25em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  background-color: rgb(19, 159, 184);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  -webkit-transition: background 0.2s ease-in 0s;
  -moz-transition: background 0.2s ease-in 0s;
  transition: background 0.2s ease-in 0s;
}

.btn:hover {
  background-color: rgb(21, 232, 75);
}

/**********************************
FOOTER
***********************************/



/**********************************
MEDIA QURIES
***********************************/

@media screen and (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid rgb(147, 34, 16);
    align-items: baseline;;
    padding-bottom: 20px;
  }

  #logo {
    text-align: left;
  }
  #logo h1 {
    font-size: 2.5em;
  }
  #logo h2 {
    font-size: 1em;
  }
  nav {
    background: none;
  }
  nav a {
    font-size: 1.25em;
  }
  h1 {
    font-size: 3em;
  }

  /*inline from buttons*/
  .inln {
    width: auto;
  }
  .btn + .btn {
    margin-left: 1.5em;
  }
}

@media screen and (min-width: 1020px) {

}
